.vl {
  border-left: 1px solid #ccc;
  height: 400px;
  position: absolute;
  left: 61%;

  top: 20%;
  margin-left: 5px;
  margin-right: 5px;
}

.row {
  /* margin-top: 73px !important; */
  margin-left: calc(-0.5 * 1.5rem) !important;
  margin-right: calc(-0.5 * 1.5rem) !important;
  padding: 73px 10px 73px 10px !important;

  margin-bottom: 188px;
  padding: 73px, 10px, 73px, 10px;
}

h4 {
  justify-content: center;
}
