.vl {
  border-left: 1px solid #ccc;
  height: 400px;
  position: absolute;
  left: 61%;

  top: 20%;
  margin-left: 5px;
  margin-right: 5px;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
}

.rows {
  margin-top: 73px !important;
  margin-left: calc(1 * 1.5rem) !important;
  margin-right: calc(1 * 1.5rem) !important;
  /* padding: 73px 10px 73px 10px !important;

  margin-bottom: 188px;*/
  padding: 73px, 10px, 73px, 10px !important;
  height: 100%;
  /* width: 100%; */
}

h4 {
  justify-content: center;
}

.conatiners {
  --bs-overflow-y: hidden;
  --bs-overflow-x: hidden;
}

.password-toggle-icon {
  position: relative;
  /* top: 375px;
  right: 540px; */
  z-index: 1000;
  cursor: pointer;
  top: -2rem;
  left: 20rem;
}
