.employer-ul {
  font-size: 15px;
}

.card2 {
  height: "100%";
  background: "#F2F2F2";
  color: "#008b8b";
  border: "none";
  margin-right: "90px";
}

.buttonSave {
  margin-top: "100px";
  margin-left: "900px";
  margin-right: "500px";
}

.buttonCancel {
  margin-top: "";
}
