@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

.root {
  --bs-body-font-family: "Open Sans", sans-serif;
}

body {
  font-size: 16px !important;
  font-family: "Open Sans" !important;
}

/* .btn {
  font-size: 1rem !important;
  padding: 0.5rem 1rem !important;
}  */

@media screen and (max-width: 1416px) {
  /* adjust font size for small screens */
  body {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1346px) {
  */
/* adjust font size for extra small screens */
 body {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 1276px) {
  /* adjust font size for extra small screens */
  body {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 1273px) {
  */

/*adjust font size for extra small screens */
 body {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 12px) {
  */
/* adjust font size for extra small screens */
 body {
    font-size: 12px !important;
  }
}

/* @media screen and (min-width: 992px) {
  .btn {
    font-size: 0.8rem !important;
    padding: 0.25rem 0.5rem !important;
  }
} */

.navbar {
  --bs-navbar-padding-y: 0.3rem;
}

.navbar-nav {
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: #0e2f60;
  --bs-nav-link-font-family: "Open Sans", sans-serif;
  --bs-nav-link-font-weight: 600;
}

.btn-primary {
  --bs-btn-bg: #133d7a;
  --bs-btn-border-color: #486284;
}

.btn {
  --bs-btn-font-family: "Open Sans", sans-serif;
  --bs-btn-font-weight: 600;
}

.btn-outline-primary {
  --bs-btn-color: #486284;
  --bs-btn-border-color: #486284;
}

.mypage {
  overflow: hidden;
}

.custom-bg:hover {
  background-color: white;
}
